/* 清楚多余样式 */
* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.clear {
	content: '';
	display: block;
	clear: both;
	zoom: 1;
}


/* 第一块css */
input {
	/* outline: none; */
	border: none;

}


#daohang {
	width: 100%;
	height: 100px;
	background: rgb(255,255,255,0.05);
}

#neir {
	width: 1200px;
	height: 100%;
	margin: auto;
}

#wenan {
	width: 1000px;
	margin-right: 100px;
}

#wenan li a {
	color: #8f8e8e;
	display: block;
	text-align: center;
	width: 124px;
	height: 100px;
}


#wenan li .aa {
	color: #fe0048;
}

#wenan li .aa:before {
	content: "";
	position: absolute;
	left: 850px;
	top:70px;
	width: 2%;
	height: 4px;
	border-radius: 30px;
	background: linear-gradient(90deg, #de0474 18%, #0c4ede 100%);
}


#wenan li:hover .active1 {
	color: #FFFFFF;
}

#wenan li {
	float: left;
	line-height: 100px;
}


#anl {
	width: 200px;
	height: 35px;
	line-height: 100px;
	border-radius: 60px;
	text-indent: 30px;
	background: none;
	border: 1px solid #fff;
	color: #FFFFFF;
	outline: none;
	background: url(../img/sousuo.png) no-repeat;
	background-position: 8px 10px;
	margin-left: 172px;
}

.denglu {
	line-height: 100px;
	margin-left: 50px;
	color: #FFFFFF;
	text-decoration: none;
}

.denglu:hover {
	/* border-bottom: 1px solid #FFFFFF;padding-bottom: 6px; */
	text-decoration: underline;
}

#neir .logo {
	width: 177px;
	height: 100px;
	float: left;
	margin-right: 20px;
	background: url(../img/topbar.png) no-repeat;
	background-position: 0 10px;
	background-size:105%;
}

/*第二块css */
.frame {
	position: absolute;
	top: 254px;
	left: 34%;
	width: 570px;
	height: 370px;
	display: none;
	border-radius: 5px;
	background: #FFFFFF;
	box-shadow: 0 5px 16px rgba(0, 0, 0, 0.8);
}

.frame .Sign {
	width: 530px;
	height: 38px;
	background: #242424;
	border-radius: 5px 5px 0 0;
	color: #FFFFFF;
	line-height: 38px;
	padding: 0 20px;
	font-size: 14px;
}

.frame .xx {
	position: absolute;
	right: 8px;
	width: 30px;
	height: 30px;
	background: url(../img/xx.png);
	z-index: 999;
	background-position: 12px 31px;
	cursor: pointer;
}

/* 登录左右两块 */
.frame .loginzuo {
	width: 291px;
	height: 212px;
	float: left;
	margin-top: 40px;
}

.frame .loginyou {
	width: 220px;
	height: 190px;
	margin-top: 50px;
	float: left;
	border-left: 1px #dfdddd dotted;
}

.zhanghao {
	width: 300px;
	height: 70px;
	text-align: center;
	margin-bottom: 20px;
	color: #666;
}

.zhanghao h4 {
	margin-bottom: 9px;
	color: #000;
}

.zhanghao a {
	color: #3481cf;
}

.zhanghao a:hover {
	text-decoration: underline;
}

/* 账号 */
.frame .loginzuo .shang {
	width: 220px;
	height: 31px;
	border: 1px #8F8E8E solid;
	text-indent: 10px;
	margin-left: 30px;
	font-size: 12px;
}

/* 密码 */
.frame .loginzuo .xia {
	width: 220px;
	height: 31px;
	border: 1px #8F8E8E solid;
	text-indent: 10px;
	margin: 10px 0 0 30px;
	font-size: 12px;
}

/* 提交 */
.frame .loginzuo .refer {
	width: 221px;
	height: 35px;
	border-radius: 5px;
	background-image: linear-gradient(-45deg, #8b0c0c, #293dbe);
	margin: 10px 0 0 30px;
	text-align: center;
	line-height: 36px;
	font-weight: bold;
	color: #FFFFFF;
	cursor: pointer;
}

.frame .loginyou a {
	color: #3481CF;
}

.frame .loginyou .p1 {
	margin-left: 30px;
	font-size: 14px;
	margin-top: 27px;
}

.frame .loginyou a:hover {
	text-decoration: underline;
}

.frame .loginyou {
	color: #666666;
}

.frame .loginyou .gouxian {
	width: 199px;
	height: 60px;
	margin-left: 30px;
	margin-top: 10px;
	border-top: 1px #dfdddd dotted;
	font-size: 14px;
}

.frame .loginyou li {
	width: 200px;
	height: 30px;
	line-height: 30px;
	padding-left: 18px;
	font-size: 14px;
}

.frame .loginyou .cao {
	width: 181px;
	height: 30px;
	border-top: #dfdddd 1px dotted;
	line-height: 30px;
}

.frame .loginyou #gai {
	position: absolute;
	top: 154px;
	right: 235px;
}

.frame .loginyou #gai2 {
	position: absolute;
	top: 185px;
	right: 235px;
}

.frame .loginyou .oauth {
	width: 259px;
	height: 30px;
	margin-top: 30px;
	margin-left: 27px;
}

.frame .loginyou .oauth p {
	font-size: 13px;
}

.frame .zuihou {
	width: 95%;
	height: 20px;
	position: absolute;
	bottom: 30px;
	font-size: 12px;
	padding-left: 50px;
	color: #8F8E8E;
}

.frame .zuihou #zui {
	position: absolute;
	top: 2px;
	left: 33px;
}

.frame .zuihou a {
	color: #3481CF;
}

.frame .zuihou a:hover {
	text-decoration: underline;
}


/* banner */
.banner{
	position: absolute;
	top:0px;
	z-index: -1;
}

/* 去掉滚过条 */
body::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

div,li,ul {
	padding:0;
	margin:0
}
img {
	vertical-align:top;
	border:0
}
li,ul {
	list-style:none;
	text-transform:capitalize;
}
#banner {
	width: 1920px;
	height: 600px;
	position: absolute;
	top: 0;
	z-index: -1;
	margin-bottom:-10px;
	background:url(../img/banner.png) no-repeat;
}
#carousel {
	position:relative;
	z-index:2;
	margin-top:211px;
	transform-style:preserve-3d;
	perspective:800px
}
#carousel img {
	position:absolute;
	left:38%;
	top:30%;
	margin-left:-252px;
	transition:transform .5s ease-in-out;
	box-shadow:8px 8px 20px rgba(0,0,0,.2);
	cursor:pointer
}
#bannerNav {
	position:relative;
	margin-top:20px;
	height:10px;
	margin: -60px;
	text-align:center
}
#bannerNav ul li {
	cursor:pointer;
	overflow:hidden;
	display:inline-block;
	width:22px;
	margin:0 2px
}
#bannerNav ul li a {
	margin:0 auto;
	display:block;
	width:6px;
	height:6px;
	vertical-align:top;
	border-radius:3px;
	background:#5e6671;
	font-size:0
}
#bannerNav ul li.on a,#bannerNav ul li:hover a {
	background:#00aeff
}
#bannerNav ul li.on a {
	width:20px
}

#carousel {
	height:400px
}

#carousel img {
	width:1000px;
	border-radius: 10px;
	opacity: 1;
}


/* <大背景> */
.dabj{
	width:1920px;
	height: 2098px;
	background: url(../img/dabj.png) no-repeat;
	position: absolute;
	top: 594px;
	z-index: -11;
}

/* <歌单推荐1> */
.biaoti{
	width:1100px;
	height:30px;
	margin: 0 auto;
	position: absolute;
	top: 50px;
	left: 410px;
	 
}

.biaoti .xiala{
	width:8px;
	height:29px;
	border-radius: 30px;
	background: linear-gradient(180deg, #de0474 18%, #0c4ede 100%);
	position: absolute;
}

.biaoti ul{
	padding-left: 10px;
}

.biaoti ul .yuan{
	float:right;
	color:#7B787C;
	line-height: 30px;
}

.biaoti ul .yuan:hover{
	text-decoration: underline;
}

.biaoti ul li{
	height: 30px;
	float:left;
	font-size: 16px;
	line-height: 30px;
	margin-left:10px;
}

 .biaoti ul li a{
	color:#7b787c;
}

 .biaoti ul li a:hover{
	text-decoration: underline;
}

 .biaoti ul li span{n
	margin-left:0.625rem;
	color:#7b787c;
}

 .biaoti ul .da{
	font-size: 30px;
	color:#FFFFFF;
	margin: 0 15px 0 35px;
}

/* <歌单推荐2> */
.biaoti1{
	width:1100px;
	height:30px;
	margin: 0 auto;
	position: absolute;
	top: 450px;
	left: 410px;
	 
}

.biaoti1 .xiala1{
	width:8px;
	height:29px;
	border-radius: 30px;
	background: linear-gradient(180deg, #de0474 18%, #0c4ede 100%);
	position: absolute;
}

.biaoti1 ul{
	padding-left: 10px;
}

.biaoti1 ul .yuan1{
	float:right;
	color:#7B787C;
	line-height: 30px;
}

.biaoti1 ul .yuan1:hover{
	text-decoration: underline;
}

.biaoti1 ul li{
	height: 30px;
	float:left;
	font-size: 16px;
	line-height: 30px;
	margin-left:10px;
}

 .biaoti1 ul li a{
	color:#7b787c;
}

 .biaoti1 ul li a:hover{
	text-decoration: underline;
}

 .biaoti1 ul li span{n
	margin-left:0.625rem;
	color:#7b787c;
}

 .biaoti1 ul .da1{
	font-size: 30px;
	color:#FFFFFF;
	margin: 0 15px 0 35px;
}

/* <歌单推荐3> */
.biaoti3{
	width:1100px;
	height:30px;
	margin: 0 auto;
	position: absolute;
	top: 870px;
	left: 410px;
	 
}

.biaoti3 .xiala3{
	width:8px;
	height:29px;
	border-radius: 30px;
	background: linear-gradient(180deg, #de0474 18%, #0c4ede 100%);
	position: absolute;
}

.biaoti3 ul{
	padding-left: 10px;
}

.biaoti3 ul .yuan3{
	float:right;
	color:#7B787C;
	line-height: 30px;
}

.biaoti3 ul .yuan3:hover{
	text-decoration: underline;
}

.biaoti3 ul li{
	height: 30px;
	float:left;
	font-size: 16px;
	line-height: 30px;
	margin-left:10px;
}

 .biaoti3 ul li a{
	color:#7b787c;
}

 .biaoti3 ul li a:hover{
	text-decoration: underline;
}

 .biaoti3 ul li span{n
	margin-left:0.625rem;
	color:#7b787c;
}

 .biaoti3 ul .da3{
	font-size: 30px;
	color:#FFFFFF;
	margin: 0 15px 0 35px;
}

/* <歌单推荐3> */
.biaoti4{
	width:1100px;
	height:30px;
	margin: 0 auto;
	position: absolute;
	top: 1266px;
	left: 410px;
	 
}

.biaoti4 .xiala4{
	width:8px;
	height:29px;
	border-radius: 30px;
	background: linear-gradient(180deg, #de0474 18%, #0c4ede 100%);
	position: absolute;
}

.biaoti4 ul{
	padding-left: 10px;
}

.biaoti4 ul .yuan4{
	float:right;
	color:#7B787C;
	line-height: 30px;
}

.biaoti4 ul .yuan4:hover{
	text-decoration: underline;
}

.biaoti4 ul li{
	height: 30px;
	float:left;
	font-size: 16px;
	line-height: 30px;
	margin-left:10px;
}

 .biaoti4ul li a{
	color:#7b787c;
}

 .biaoti4 ul li a:hover{
	text-decoration: underline;
}

 .biaoti4 ul li span{n
	margin-left:0.625rem;
	color:#7b787c;
}

 .biaoti4 ul .da4{
	font-size: 30px;
	color:#FFFFFF;
	margin: 0 15px 0 35px;
}


/* <上架1> */
.dabj .shangjia{
	width: 1100px;
	height: 300px;
	margin: 0 auto;
	margin-top: 110px;
	position: relative;
}

/* <shang1> */
.dabj .shangjia .shang1{
	width: 266px;
	height: 296px;
	position: absolute;
	top: 0;
}

.dabj .shangjia .shang1 .sbj7{
	 width: 93px;
	 height: 80px;
	background: url(../img/mianf.png) no-repeat;
	position: absolute;
	z-index: 2;
	top:71px;
	left: 65px;
	opacity: 0;
	cursor: pointer;
	transition: all 2s;
}

.dabj .shangjia .shang1 .sbj8{
	width: 93px;
	height: 80px;
	background: url(../img/mianf1.png) no-repeat;
	position: absolute;
	z-index: 1;
	top:71px;
	left: 65px;
	opacity: 0;
	transition: all 2s;
}

.dabj .shangjia .shang1 .sbj6{
	 width: 225px;
	 height: 230px;
	 background: #000000;
	overflow: hidden;
}

.dabj .shangjia .shang1:hover .sbj1{
	 transform: scale(1.2);
	 opacity: 0.5;
}

.dabj .shangjia .shang1:hover .sbj7{
	 opacity: 1;
}

.shangjia .shang1 .sbj1{
	transition: all 1s;
}

.shangjia .shang1 .sbj2{
	position: absolute;
	top: 0;
	left: 29px;
	z-index: -1;
}

.shangjia .shang1 .sbj3{
	position: absolute;
	top: 13px;
	left: 74px;
	z-index: -2;
}

.shangjia .shang1 .sbj4{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

/* <shang2> */
.dabj .shangjia .shang2{
	width: 266px;
	height: 296px;
	position: absolute;
	top: 0;
	left: 279px;
}

.dabj .shangjia .shang2 .sbj77{
	 width: 93px;
	 height: 80px;
	background: url(../img/mianf.png) no-repeat;
	position: absolute;
	top:71px;
	left: 65px;
	opacity: 0;
	transition: all 1s;
}

.dabj .shangjia .shang2 .sbj88{
	width: 93px;
	height: 80px;
	background: url(../img/mianf1.png) no-repeat;
	position: absolute;
	top:71px;
	left: 65px;
	opacity: 0;
	transition: all 1s;
}

.dabj .shangjia .shang2 .sbj66{
	 width: 225px;
	 height: 230px;
	 background: #000000;
	overflow: hidden;
}

.dabj .shangjia .shang2:hover .sbj11{
	 transform: scale(1.2);
	 opacity: 0.5;
}

.dabj .shangjia .shang2:hover .sbj77{
	 opacity: 1;
}

.shangjia .shang2 .sbj11{
	transition: all 1s;
}

.shangjia .shang2 .sbj22{
	position: absolute;
	top: 0;
	left: 29px;
	z-index: -1;
}

.shangjia .shang2 .sbj33{
	position: absolute;
	top: 13px;
	left: 74px;
	z-index: -2;
}

.shangjia .shang2 .sbj44{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

/* <shang3> */
.dabj .shangjia .shang3{
	width: 266px;
	height: 296px;
	position: absolute;
	top: 0;
	left: 559px;
}

.dabj .shangjia .shang3 .sbj777{
	 width: 93px;
	 height: 80px;
	background: url(../img/mianf.png) no-repeat;
	position: absolute;
	top:71px;
	left: 65px;
	opacity: 0;
	transition: all 1s;
}

.dabj .shangjia .shang3 .sbj888{
	width: 93px;
	height: 80px;
	background: url(../img/mianf1.png) no-repeat;
	position: absolute;
	top:71px;
	left: 65px;
	opacity: 0;
	transition: all 1s;
}

.dabj .shangjia .shang3 .sbj666{
	 width: 225px;
	 height: 230px;
	 background: #000000;
	overflow: hidden;
}

.dabj .shangjia .shang3:hover .sbj111{
	 transform: scale(1.2);
	 opacity: 0.5;
}

.dabj .shangjia .shang3:hover .sbj777{
	 opacity: 1;
}

.shangjia .shang3 .sbj111{
	transition: all 1s;
}

.shangjia .shang3 .sbj222{
	position: absolute;
	top: 0;
	left: 29px;
	z-index: -1;
}

.shangjia .shang3 .sbj333{
	position: absolute;
	top: 13px;
	left: 74px;
	z-index: -2;
}

.shangjia .shang3 .sbj444{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

/* <shang4> */
.dabj .shangjia .shang4{
	width: 266px;
	height: 296px;
	position: absolute;
	top: 0;
	left: 838px;
}

.dabj .shangjia .shang4 .sbj7777{
	 width: 93px;
	 height: 80px;
	background: url(../img/mianf.png) no-repeat;
	position: absolute;
	top:71px;
	left: 65px;
	opacity: 0;
	transition: all 1s;
}

.dabj .shangjia .shang4 .sbj8888{
	width: 93px;
	height: 80px;
	background: url(../img/mianf1.png) no-repeat;
	position: absolute;
	top:71px;
	left: 65px;
	opacity: 0;
	transition: all 1s;
}

.dabj .shangjia .shang4 .sbj6666{
	 width: 225px;
	 height: 230px;
	 background: #000000;
	overflow: hidden;
}

.dabj .shangjia .shang4:hover .sbj1111{
	 transform: scale(1.2);
	 opacity: 0.5;
}

.dabj .shangjia .shang4:hover .sbj7777{
	 opacity: 1;
}

.shangjia .shang4 .sbj1111{
	transition: all 1s;
}

.shangjia .shang4 .sbj2222{
	position: absolute;
	top: 0;
	left: 29px;
	z-index: -1;
}

.shangjia .shang4 .sbj3333{
	position: absolute;
	top: 13px;
	left: 74px;
	z-index: -2;
}

.shangjia .shang4 .sbj4444{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

/* * <页尾> */ 
.dabj .yuwui{
	width: 1920px;
	height: 384px;
	background: url(../img/yewui.png) no-repeat;
	position: absolute;
	top: 1800px;
}

.yuwui .yuwui1{
	width: 1100px;
	height: 384px;
	margin: 0 auto;
	position: relative;
}

.yuwui .yuwui1 .zuo{
	width: 316px;
	height: 174px;
	position: absolute;
	top: 59px;
	background: url(../img/zuixing.png) no-repeat;
}

.yuwui .yuwui1 .you{
	width: 675px;
	height: 274px;
	position: absolute;
	top: 59px;
	left:467px;
	color: #5e5f6b;
	font-size: 18px;
}

/* <1> */
.yuwui .yuwui1 .you .wui11{
	color: #FFFFFF;
	font-size: 24px;
	height: 80px;
	background: url(../img/wtiaotiao.png) no-repeat;
	background-position:0  42px ;
}

.yuwui .yuwui1 .wui1 li:nth-child(2){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}
.yuwui .yuwui1 .wui1 li:nth-child(3){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}
.yuwui .yuwui1 .wui1 li:nth-child(4){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}
.yuwui .yuwui1 .wui1 li:nth-child(5){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}


/* <2> */
.yuwui .yuwui1 .wui2{
	position: absolute;
	top: 0;
	left: 160px;
}

.yuwui .yuwui1 .you .wui111{
	color: #FFFFFF;
	font-size: 24px;
	height: 80px;
	background: url(../img/wtiaotiao.png) no-repeat;
	background-position:0  42px ;
}

.yuwui .yuwui1 .wui2 li:nth-child(2){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}
.yuwui .yuwui1 .wui2 li:nth-child(3){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}
.yuwui .yuwui1 .wui2 li:nth-child(4){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}
.yuwui .yuwui1 .wui2 li:nth-child(5){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}


/* <3> */
.yuwui .yuwui1 .wui3{
	position: absolute;
	top: 0;
	left: 320px;
}

.yuwui .yuwui1 .you .wui1111{
	color: #FFFFFF;
	font-size: 24px;
	height: 80px;
	background: url(../img/wtiaotiao.png) no-repeat;
	background-position:0  42px ;
}

.yuwui .yuwui1 .wui3 li:nth-child(2){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}
.yuwui .yuwui1 .wui3 li:nth-child(3){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}
.yuwui .yuwui1 .wui3 li:nth-child(4){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}
.yuwui .yuwui1 .wui3 li:nth-child(5){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}


/* <4> */
.yuwui .yuwui1 .wui4{
	position: absolute;
	top: 0;
	left: 480px;
}

.yuwui .yuwui1 .you .wui11111{
	color: #FFFFFF;
	font-size: 24px;
	height: 80px;
	background: url(../img/wtiaotiao.png) no-repeat;
	background-position:0  42px ;
}

.yuwui .yuwui1 .wui4 li:nth-child(2){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}
.yuwui .yuwui1 .wui4 li:nth-child(3){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}
.yuwui .yuwui1 .wui4 li:nth-child(4){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}
.yuwui .yuwui1 .wui4 li:nth-child(5){
	height: 50px;
	padding-left: 20px;
	background: url(../img/sanjiaoxing.png) no-repeat;
	background-position:6px 7px;
}

/* <>返回 */
.fanhui{
	width: 50px;
	height: 50px;
	position: fixed;
	right: 0;
	top: 50%;
	background: #8B0C0C;
	z-index: 100;
	display: none;
	transition: all 1s;
	cursor: pointer;
}

.fanhui span{
	position: absolute;
	top: 4px;
	left: 18px;
	font-size: 33px;
	color: #FFFFFF;
}

.s{
	animation: s 5s infinite linear;
}
@keyframes s{
	from{
		transform: rotateZ(0deg);
	}
	to{
		transform: rotateZ(360deg);
	}
}